.call-to-action {
	display: flex;
	align-items: center;
	justify-content: center;
}

.call-to-action img {
	height: 100px;
}

.button-more-info {
	height: 60px;
}

.call-to-action.text a {
	background: #df144c;
	color: white;
	padding: 10px 20px;
	font-size: 2em;
	margin-bottom: 5px;
}

.call-to-action.text a:hover {
	box-shadow: 3px 3px 5px gray;
}