.principal-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);	
	grid-gap: 10px;
	padding-right: 3%;
	padding-left: 2%;
	align-items: center;
}

.principal-section__item-1 ul {
	background: rgba(0,0,0,0.5);
	margin-top: 0;
}

.principal-section__item-1 li {
	color: white;
	font-size: 26px;
	font-weight: 400;
	margin: 0;	
	line-height: 1.5;
}

.principal-section__item-1__title {
	margin: 0;	
	color: white;
	font-size: 42px;
	font-weight: bold;
	line-height: 1;	
	background: rgba(0,0,0,0.5);
	line-height: 1;
}

@media screen and (min-width: 426px) {
	.principal-section__item-1 {
		grid-column: 1/5;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;	
		background-image: url("https://www.chicureohoy.cl/wp-content/uploads/2020/01/charla.png");
		max-width: 100%;
		padding: 8% 3%;
	}

	.principal-section__item-1__title {
		padding: 5% 30% 30px 20px;
	}

	.principal-section__item-1 ul {
		padding: 0 0 50px 30px;
	}

	.principal-section__item-2 {
		display: block;
		grid-column: 5/7;
	}
}

@media screen and (max-width: 425px) {
	.principal-section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		align-items: end;
		width: 100%;
		max-width: 100%;

		padding-top: 20px;

	}	

	.principal-section__item-1 {
		background-size: 100% 100%;
		background-position: top;
		background-repeat: no-repeat;
		background-image: url("https://www.chicureohoy.cl/wp-content/uploads/2020/01/charla.png");
		padding: 5% 0;
	}

	.principal-section__item-1 h1 {
		padding-top: 5%;
	}
	.principal-section__item-1 ul {
		padding: 30px 30px;
	}

	.principal-section li {
		line-height: 1.2;
	}
}